<html>
<head>
  <% include ../views/partials/head %>
  <script src="/js/clndr.js"></script>
   <link href="/stylesheets/clndr.css" rel="stylesheet">
</head>
<body>
   <header>
      <button id="create-research">MY PAGE</button>
      <button>ONGOING</button>
   </header>
   <div id="nav">
      
   </div>
   <div id="container">
      <h1>General information</h1>
   </div>

   
   <script type="text/javascript">
      // $("#create-research").click(function(){
      //    window.location.href = "/create-research";
      // });
   </script>
</body>
</html>