<html>
<head>
  <% include ../views/partials/head %>
  <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>

</head>
<body>
   <header id="header">
      <div class="login">
        <form class="login-form">
          <div class="error" style="display:none"></div>
          <table>
             <thead>
               <tr>
                  <th>Username</th>
                  <th>Password</th>
               </tr>
             </thead>
             <tbody>
                <tr>
                   <td><input type="text" id="login-username" /></td>
                   <td><input type="password" id="login-password" /></td>
                   <td><button class="login-btn">LOGIN</button></td>
                </tr>
             </tbody>
          </table>
          
        </form>
      </div>
   </header>
   <div id="container">
      <div class="main-banner">
         <img src="images/bg.png"/>
      </div>
      
      <div class="signup">
         <h2>Get started with Ykit</h2>
         <h4>Find out all about ongoing clinical trials and join the trials that are suitable for you.</h4>
         <form class="signup-form">
            <div class="error" style="display:none"></div>
            <table width="100%">
               <tbody>
                  <tr>
                     <td><input type="text" id="signup-firstname" placeholder="First Name" /></td>
                     <td><input type="text" id="signup-lastname" placeholder="Last Name" /></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <input type="text" id="signup-username" placeholder="Username" />
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <input type="password" id="signup-password" placeholder="New Password" />
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <input type="password" id="signup-retype-password" placeholder="Re-enter the password" />
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <input type="text" id="signup-email" placeholder="Email" />
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <input type="radio" name="sex" value="male" checked>Male
                        <input type="radio" name="sex" value="female">Female
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <input type="submit" value="GET STARTED"/>
                     </td>
                  </tr>
               </tbody>
            </table>
         </form>
      </div>
   </div>

<script>
var env = <%-JSON.stringify(env)%>;
console.log(env);
// console.log(env.PARSE_JS_KEY);
Parse.initialize(env.PARSE_APP_ID, env.PARSE_JS_KEY);

  $(".signup-form").submit(function (e) {
  e.preventDefault();

  var user = new Parse.User();
  user.set("username", $('#signup-username').val());
  user.set("password", $('#signup-password').val());
    user.set("email", $('#signup-email').val());
  user.set("email", $('#signup-firstname').val());
  user.set("email", $('#signup-lastname').val());
  user.set("email", $('#signup-email').val());

  user.signUp(null, {
    success: function(user) {
      window.location.href = "/researcher";
      // Hooray! Let them use the app now.
    },
    error: function(user, error) {
      // Show the error message somewhere and let the user try again.
      alert("Error: " + error.code + " " + error.message);
    }
  });
});

  $(".login-form").one('submit', (function (e) {
    this.attr('disabled','disabled');
    e.preventDefault();
      Parse.User.logIn($('#login-username').val(), $('#login-password').val(), {
        success: function(user) {
          // Do stuff after successful login.
          window.location.href = "/researcher";
        },
        error: function(user, error) {
          // The login failed. Check error to see why.
          alert("Error: " + error.code + " " + error.message);
        }
      });
  }));
</script>
</body>
</html>