<html>
<head>
  <% include ../views/partials/head %>
  <script src="https://cdn.auth0.com/w2/auth0-6.js"></script>
</head>
<body>
   <header id="header">
      
   </header>
	<div id="container">
		<p>USER</p>
	</div>
</body>
</html>