body {
    font-family: 'Roboto', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
}
header {
    height: 5vh;
}
header button{
    float:right;
    width: 80px;
    margin: 5px;
    padding: 10px;
}

input[type="submit"], button{
    background-color: #4A86E8;
    color: white;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
}

#header{
	height:5vh;
}

#container{
	margin-top: 5vh;
    height:100%;
}

.main-banner {
    float:left;
}

/************************************************************************* 
Login form 
*************************************************************************/
.login {
    float: right;
}

.login .login-form table th {
	padding-left: 10px;
    font-weight: normal;
}
.login .login-form table td {
	padding: 10px;
}
.login .login-form table input:not([type=radio]){
	text-transform: lowercase;
	padding: 5px;
	width: 100%;
	text-transform: none;
}
.login .login-form button {
	width: 100%;
	padding: 7px;
}

/************************************************************************* 
Signup form 
*************************************************************************/
.signup {
    float: right;
    width: 40vw;
}
.signup h2 {
    font-size: 40px;
}
.signup h4 {
    font-size: 16px;
}
.signup .signup-form table td {
	padding: 10px;
}
.signup .signup-form table input:not([type=radio]){
	text-transform: lowercase;
	padding: 10px;
	width: 100%;
	text-transform: none;
}
.signup .signup-form ::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: uppercase;
}
.signup .signup-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}
.signup .signup-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}
.signup .signup-form :-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
.signup .signup-form table input[type=radio]{
	margin: 10px;
}
/************************************************************************* 
Dashboard 
*************************************************************************/
#content{
    float:left;
    width: 50vw;
}
#post{
    margin: 10px;
    padding: 10px;
    float:left;
    border: 1px solid #CCCCCC;
}
#post button{
    height: 30px;
    font-size: 1em;
    float:right;
}
#post span{
    color:red;
    font-size: 1.5em;
}
#post h2{
    font-size: 1.5em ;
}
#post p{
    font-size: 1em ;
}
#post img{
    display: block;
    margin: 0 auto;
}

.name{
    font-size: 1.5em
}

#profile{
    float:right;
    border: 1px solid #CCCCCC;
    width: 20vw;
    margin: 10px;
    padding: 10px;
}
#profile img{
    float: left;
}
#calendar{
    float:right;
    border: 1px solid #CCCCCC;
    width: 20vw;
    margin: 10px;
    padding: 10px;
}
#credit {

}